
html {
    height: 100%;
}

/* Body components are actually overridden by React and needs to be applied 
via componentDidMount() in App.js. Leaving this here just in case */
body {
    background-color: #24305E;
    height: 100%;
    line-height:200%;
}

.titleLink {
    text-decoration: none;
    color: #fff;
}

.titleLink:hover {
    color: #fff;
}

.nav-masthead .nav-link{
    color: rgba(255, 255, 255, .5);
    font-weight: 700;
}

.nav-masthead .active{
    color: #fff;
    font-weight: 700;
    pointer-events: none;
}

.cardText {
    color: black;
}

.cardFooter {
    position:relative;
    bottom:0;
    left:0;
    width:100%;
    margin: 0;
}

.cardImg {
    max-height:165px;
    object-fit:contain;
}
